<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Karteek</title>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

</head>
<body>
<h1>Karteek Gole</h1>
<h2>1001553522</h2>




<h2>To see clustering scatterplot of age and fare columns from titanic data, press the submit button</h2>
<form action="/upload" method="post" enctype="multipart/form-data">    <input type="submit" />
</form>


<h2>To see barchart of male survivors, press this button</h2>
<form action="/barchartmale" method="post" enctype="multipart/form-data">    <input type="submit" />
</form>

<h2>To see piechart of male survivors, press this button</h2>
<form action="/piechartmale" method="post" enctype="multipart/form-data">    <input type="submit" />
</form>

<h2>To see barchart of female survivors, press this button</h2>
<form action="/barchartfemale" method="post" enctype="multipart/form-data">    <input type="submit" />
</form>

<h2>To see piechart of female survivors, press this button</h2>
<form action="/piechartfemale" method="post" enctype="multipart/form-data">    <input type="submit" />
</form>


</body>
</html>